:root {
  --background: #d3bb8a55;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.accueilMain {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.bienvenuetitle {
  font-size: 2em;
  font-style: italic;
  text-align: center;
}

.bienvenueMessage {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fondPageAcueil{
  z-index: -1;
  opacity: 10%;
  object-fit: cover;
}